/**
* This mixin makes responsive a container.
* $size [px] arg1 [maximum width for container]
*/
:root {
  --text-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--main-blue);
  font-family: var(--text-font);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/**
* This loop creates margin classes from 5 to 5 up to 40.
*/
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-red: hsl(0, 100%, 63%);
  --footer-blue: hsl(216, 53%, 9%);
  --card-blue: hsl(219, 30%, 18%);
  --secondary-blue: hsl(217, 28%, 15%);
  --main-blue: hsl(218, 28%, 13%);
  --link-blue: hsla(177, 67%, 63%);
  --btn-gradient: linear-gradient(129.57deg, hsl(176, 68%, 64%) -26.63%, hsl(198, 60%, 50%) 100%);
  --btn-active: hsla(186, 61%, 72%, 1);
}

.container--header {
  background-color: var(--secondary-blue);
  padding: 25px 0 50px;
}
@media screen and (min-width: 1330px) {
  .container--header {
    padding: 75px 0;
  }
}
.container--hero {
  background: var(--secondary-blue) url("https://raw.githubusercontent.com/Javieer57/FEM-fylo-dark-theme/main/images/bg-curvy-desktop.svg") center bottom/contain no-repeat;
  padding-bottom: 150px;
}
.container--newsletter {
  background-image: linear-gradient(180deg, var(--main-blue) 0%, var(--main-blue) 48%, var(--footer-blue) 49%, var(--footer-blue) 100%);
}
.container--footer {
  background-color: var(--footer-blue);
}

.text--16 {
  font-family: var(--text-font);
  font-size: 1rem;
  line-height: 24px;
}
.text--14 {
  font-family: var(--text-font);
  font-size: 0.875rem;
  line-height: 21px;
}
.text--10 {
  font-family: var(--text-font);
  font-size: 0.625rem;
  line-height: 12px;
}
.text--8 {
  font-family: var(--text-font);
  font-size: 0.5rem;
  line-height: 10px;
}

.title--18 {
  font-family: var(--title-font);
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: bold;
}
.title--12 {
  font-family: var(--title-font);
  font-size: 0.75rem;
  line-height: 14px;
  font-weight: bold;
}

@media (min-width: 26.1875em) {
  .text--sm-18 {
    font-family: var(--text-font);
    font-size: 1.125rem;
    line-height: 30px;
  }
  .text--sm-16 {
    font-family: var(--text-font);
    font-size: 1rem;
    line-height: 21px;
  }
  .text--sm-14 {
    font-family: var(--text-font);
    font-size: 0.875rem;
    line-height: 18px;
  }

  .title--sm-40 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    line-height: 50px;
    font-weight: bold;
  }
  .title--sm-32 {
    font-family: var(--title-font);
    font-size: 2rem;
    line-height: 48px;
    font-weight: bold;
  }
  .title--sm-20 {
    font-family: var(--title-font);
    font-size: 1.25rem;
    line-height: 24px;
    font-weight: bold;
  }
  .title--sm-16 {
    font-family: var(--title-font);
    font-size: 1rem;
    line-height: 19px;
    font-weight: bold;
  }
}
.btn--blue {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: var(--btn-gradient);
  border-radius: 25px;
  border: 1px solid transparent;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--title-font);
  font-weight: bold;
  line-height: 16px;
  padding: 15px 25px;
  text-align: center;
  user-select: none;
}
.btn--blue:active {
  background-color: var(--btn-active);
  background-image: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1330px) {
  .header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
}
.header__logo {
  margin-right: 20%;
  flex-basis: 80px;
  flex-grow: 1;
  max-width: 180px;
  min-width: 80px;
}
.header__link {
  display: inline-block;
  font-weight: normal;
}
.header__link:hover {
  text-decoration: underline;
  font-weight: bold;
}
.header__link:not(:last-child) {
  margin-right: 24px;
}
@media (min-width: 43.125em) {
  .header__link:not(:last-child) {
    margin-right: 58px;
  }
}

.hero {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 770px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
  }
}
.hero__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__content p {
  max-width: 589px;
}
.hero .btn--blue {
  flex-grow: 1;
  flex-basis: 240px;
  max-width: 280px;
  font-size: 0.875rem;
}
@media (min-width: 26.1875em) {
  .hero .btn--blue {
    font-size: 1rem;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 50px;
  margin-bottom: 150px;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 930px) {
  .services {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 880px;
  }
}
@media screen and (min-width: 700px) {
  .services {
    justify-content: space-between;
  }
}
.services__card {
  display: inline-block;
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 350px;
  text-align: center;
}
.services__img {
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.productive {
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 60px;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1285px) {
  .productive {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1235px;
  }
}
@media (min-width: 43.125em) {
  .productive {
    flex-direction: row;
  }
}
.productive__img {
  flex-basis: auto;
  flex-grow: 1;
  max-width: 615px;
}
.productive__content {
  flex-basis: auto;
  flex-grow: 1;
  max-width: 565px;
}
.productive__link {
  font-family: var(--text-font);
  font-size: 0.75rem;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  color: var(--link-blue);
}
.productive__link:hover {
  color: var(--white);
}
.productive__link:hover [fill="#62E0D9"] {
  fill: var(--white);
}
@media (min-width: 26.1875em) {
  .productive__img {
    flex-basis: 320px;
  }
  .productive__content {
    flex-basis: 320px;
  }
  .productive__link {
    font-family: var(--text-font);
    font-size: 1rem;
    line-height: normal;
  }
}
@media (min-width: 43.125em) {
  .productive__img {
    width: 50%;
    max-width: 615px;
  }
  .productive__content {
    width: 50%;
    max-width: 565px;
  }
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  justify-content: center;
  padding: 0 45px;
  margin-top: 120px;
  margin-bottom: 160px;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1210px) {
  .testimonials {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1160px;
  }
}
.testimonials__card {
  background-color: var(--card-blue);
  border-radius: 5px;
  padding: 40px 25px 25px;
  flex-grow: 1;
  flex-basis: 280px;
  max-width: 360px;
  position: relative;
}
.testimonials__img {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}
.testimonials__img img {
  border-radius: 50%;
}
.testimonials__info {
  display: inline-block;
}
.testimonials #first-testimonial::after {
  background-image: url("/images/bg-quotes.png");
  background-size: cover;
  content: "";
  display: inline-block;
  height: 35px;
  left: 8px;
  position: absolute;
  top: -30px;
  width: 45px;
  z-index: -1;
}
@media (min-width: 43.125em) {
  .testimonials #first-testimonial::after {
    height: 45px;
    left: -10px;
    top: -35px;
    width: 55px;
  }
}

.newsletter {
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 913px) {
  .newsletter {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 863px;
  }
}
.newsletter__content {
  background-color: var(--secondary-blue);
  padding: 40px 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
.newsletter__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.newsletter__mail {
  padding: 15px 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 16px;
  border-radius: 25px;
  border: none;
  width: 100%;
}
.newsletter__error {
  font-family: var(--text-font);
  font-size: 0.625rem;
  line-height: 14px;
  font-weight: bold;
  text-align: left;
  margin-left: 38px;
  color: var(--light-red);
  visibility: hidden;
}
.newsletter .btn--blue {
  width: 100%;
}
@media (min-width: 43.125em) {
  .newsletter__content {
    padding: 40px 75px;
  }
  .newsletter__mail {
    flex-basis: 200px;
    max-width: 480px;
    flex-grow: 1;
  }
  .newsletter .btn--blue {
    flex-basis: 200px;
    max-width: 200px;
    flex-grow: 1;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px 40px;
  padding: 50px 25px;
  align-items: start;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 1290px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1240px;
  }
}
@media screen and (min-width: 850px) {
  .footer {
    justify-content: space-between;
    grid-template-columns: minmax(auto, 380px) minmax(auto, 170px) minmax(auto, 235px) minmax(auto, 200px);
  }
}
.footer__logo {
  grid-column-start: 1;
  grid-column-end: -1;
  max-width: 108px;
}
.footer__location {
  display: flex;
}
.footer__location .feather {
  min-width: 24px;
  margin-top: 5px;
  margin-right: 15px;
}
.footer__contact .feather {
  min-width: 24px;
  margin-right: 15px;
  vertical-align: middle;
}
.footer__navlinks {
  display: flex;
  flex-direction: column;
}
.footer__navlinks-column:not(:last-child) {
  margin-bottom: 50px;
}
.footer__navlinks a {
  display: inline-block;
}
.footer__navlinks a:hover {
  font-weight: bold;
}
@media screen and (min-width: 850px) {
  .footer__navlinks {
    justify-content: space-between;
    flex-direction: row;
  }
  .footer__navlinks-column:not(:last-child) {
    margin-bottom: 0px;
  }
}
.footer__social {
  text-align: center;
}
.footer__social-icon {
  border-radius: 50%;
  border: 1px solid var(--white);
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  position: relative;
}
.footer__social-icon .feather {
  color: var(--white);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.footer__social-icon:hover {
  border: 1px solid var(--link-blue);
}
.footer__social-icon:hover .feather {
  color: var(--link-blue);
}

/*# sourceMappingURL=styles.css.map */
