* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--main-blue);
  font-family: var(--text-font);
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-5 {
  margin-bottom: 0.3125rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.mb-25 {
  margin-bottom: 1.5625rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mb-150 {
  margin-bottom: 9.375rem;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-red: hsl(0, 100%, 63%);
  --footer-blue: hsl(216, 53%, 9%);
  --card-blue: hsl(219, 30%, 18%);
  --newsletter-blue: hsl(217, 28%, 15%);
  --main-blue: hsl(218, 28%, 13%);
  --link-blue: hsla(177, 67%, 63%);
  --btn-gradient: linear-gradient(129.57deg, hsl(176, 68%, 64%) -26.63%, hsl(198, 60%, 50%) 100%);
  --btn-active: hsla(186, 61%, 72%, 1);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container--services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px 50px;
  padding: 0 25px;
}
@media (min-width: 43.75em) {
  .container--services {
    justify-content: space-between;
  }
}
@media (min-width: 58.125em) {
  .container--services {
    max-width: 880px;
    padding: 0;
  }
}
.container--productive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  gap: 50px 60px;
}
@media (min-width: 43.125em) {
  .container--productive {
    flex-direction: row;
  }
}
@media (min-width: 80.3125em) {
  .container--productive {
    padding: 0;
    max-width: 1235px;
  }
}
.container--testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 25px 40px;
  justify-content: center;
  padding: 0 45px;
  margin-top: 120px;
  margin-bottom: 200px;
}
@media (min-width: 78.125em) {
  .container--testimonials {
    padding: 0;
    max-width: 1160px;
  }
}
.container--newsletter {
  padding: 0 20px;
}
@media (min-width: 56.4375em) {
  .container--newsletter {
    padding: 0;
  }
}

.direction {
  display: flex;
  gap: 30px;
  max-width: 380px;
}
.direction span {
  padding-top: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.contact > * {
  display: flex;
  gap: 25px;
  align-items: center;
}

.productive__links {
  display: block;
  margin-bottom: 15px;
}

.footer__navlinks {
  display: flex;
  gap: 0 80px;
}

.footer__navlinks1,
.footer__navlinks2 {
  display: inline-block;
}

footer {
  padding: 55px 80px 55px 120px;
}

:root {
  --text-font: "Open Sans", sans-serif;
  --title-font: "Raleway", sans-serif;
}

.text--14 {
  font-size: 0.875rem;
  line-height: 21px;
}
.text--10 {
  font-size: 0.625rem;
  line-height: 12px;
  letter-spacing: 0.5px;
}
.text--8 {
  font-weight: normal;
  font-size: 0.5rem;
  line-height: 10px;
  letter-spacing: 0.5px;
}
@media (min-width: 25em) {
  .text--sm-16 {
    font-size: 1rem;
    line-height: 24px;
  }
  .text--sm-14 {
    font-size: 0.875rem;
    line-height: 21px;
  }
}

.title--18 {
  font-family: var(--title-font);
  font-weight: bold;
  line-height: 24px;
  font-size: 1.125rem;
}
@media (min-width: 25em) {
  .title--sm-40 {
    font-family: var(--title-font);
    font-size: 2.5rem;
    line-height: 50px;
  }
  .title--sm-32 {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 2rem;
    line-height: 48px;
  }
  .title--sm-20 {
    font-family: var(--title-font);
    font-size: 1.25rem;
  }
}

.productive__links {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 24px;
  /* links */
  text-decoration: none;
  color: var(--white);
}

.productive__links:active {
  font-weight: bold;
}

.newsletter__title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 48px;
}

.newsletter__error {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 0.625rem;
  text-align: left;
  margin-left: 38px;
  line-height: 14px;
  color: var(--light-red);
  /* pendiente */
  visibility: hidden;
}

.link--blue {
  text-decoration: none;
  font-size: 0.75rem;
  display: inline-block;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  color: var(--link-blue);
}
.link--blue:hover {
  color: var(--white);
}
.link--blue:hover [fill="#62E0D9"] {
  fill: var(--white);
}
@media (min-width: 25em) {
  .link--blue {
    font-size: 1rem;
    line-height: 22px;
  }
}

.fab {
  cursor: pointer;
  font-size: 1.25rem;
}
.fab:hover {
  color: var(--link-blue);
}

.footer__social {
  display: inline-block;
  padding: 5px;
  border: 1px solid;
  border-radius: 50%;
  width: 32px;
  text-align: center;
}
.footer__social:hover {
  color: var(--link-blue);
}

.btn--blue {
  -moz-user-select: none;
  -webkit-user-select: none;
  background-image: var(--btn-gradient);
  border-radius: 25px;
  border: 1px solid transparent;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--title-font);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 16px;
  padding: 15px 25px;
  text-align: center;
  user-select: none;
}
.btn--blue:active {
  background-color: var(--btn-active);
  background-image: none;
}

.service {
  display: inline-block;
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 350px;
  text-align: center;
}
.service__img {
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productive__img {
  flex-basis: auto;
  flex-grow: 1;
  max-width: 615px;
}
.productive__content {
  flex-basis: auto;
  flex-grow: 1;
  max-width: 565px;
}
@media (min-width: 25em) {
  .productive__img {
    flex-basis: 320px;
  }
  .productive__content {
    flex-basis: 320px;
  }
}
@media (min-width: 43.125em) {
  .productive__img {
    width: 50%;
    max-width: 615px;
  }
  .productive__content {
    width: 50%;
    max-width: 565px;
  }
}

.testimonial {
  background-color: var(--card-blue);
  border-radius: 5px;
  padding: 40px 25px 25px;
  flex-grow: 1;
  flex-basis: 280px;
  max-width: 360px;
  position: relative;
}
.testimonial__img {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
}
.testimonial__img img {
  border-radius: 50%;
}
.testimonial__info {
  display: inline-block;
}

#first-testimonial::after {
  background-image: url("/images/bg-quotes.png");
  background-size: cover;
  content: "";
  display: inline-block;
  height: 35px;
  left: 8px;
  position: absolute;
  top: -30px;
  width: 45px;
  z-index: -1;
}
@media (min-width: 43.125em) {
  #first-testimonial::after {
    height: 45px;
    left: -10px;
    top: -35px;
    width: 55px;
  }
}

.newsletter {
  background-color: var(--newsletter-blue);
  padding: 40px 25px;
  max-width: 863px;
  border-radius: 10px;
  text-align: center;
}
.newsletter__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.newsletter__mail {
  padding: 15px 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 16px;
  border-radius: 25px;
  border: none;
  width: 100%;
}
.newsletter .btn--blue {
  width: 100%;
}
@media (min-width: 43.125em) {
  .newsletter {
    padding: 40px 75px;
  }
  .newsletter__mail {
    flex-basis: 200px;
    max-width: 480px;
    flex-grow: 1;
  }
  .newsletter .btn--blue {
    flex-basis: 200px;
    max-width: 200px;
    flex-grow: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
