@use "../util/index" as *;

// Fonts variables
:root {
	--text-font: "Open Sans", sans-serif;
	--title-font: "Raleway", sans-serif;
}

// Reset styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--white);
	background-color: var(--main-blue);
	font-family: var(--text-font);
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/**
* This loop creates margin classes from 5 to 5 up to 40.
*/
@for $i from 1 through 8 {
	.mb-#{$i * 5} {
		margin-bottom: ($i * 5px);
	}
}
