@use "../util/index" as *;

// Default styles
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--white);
	background-image: linear-gradient(180deg, var(--secondary-blue) 0%, var(--secondary-blue) 20%, var(--main-blue) 21%, var(--main-blue) 100%);
	font-family: var(--text-font);
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: inherit;
	text-decoration: none;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
}

.mb-5 {
	margin-bottom: rem(5);
}

.mb-10 {
	margin-bottom: rem(10);
}

.mb-15 {
	margin-bottom: rem(15);
}

.mb-20 {
	margin-bottom: rem(20);
}

.mb-25 {
	margin-bottom: rem(25);
}

.mb-30 {
	margin-bottom: rem(30);
}

.mb-35 {
	margin-bottom: rem(35);
}

.mb-40 {
	margin-bottom: rem(40);
}

.mb-75 {
	margin-bottom: rem(75);
}

.mb-150 {
	margin-bottom: rem(150);
}
