@use "../util/index" as *;

// General container styles
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	// Specific container styles
	&--productive {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		justify-content: center;
		align-items: center;
		padding: 0 25px;
		gap: 50px 60px;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		@include breakpoint(productive) {
			padding: 0;
			max-width: 1235px;
		}
	}

	&--testimonials {
		display: flex;
		flex-wrap: wrap;
		gap: 25px 40px;
		justify-content: center;
		padding: 0 45px;
		margin-top: 120px;
		margin-bottom: 200px;

		@include breakpoint(testimonials) {
			padding: 0;
			max-width: 1160px;
		}
	}
}

.container {
	&__services {
		margin-left: auto;
		margin-right: auto;
		max-width: 880px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 80px 0;
	}
}
.newsletter {
	margin-left: auto;
	margin-right: auto;
	padding: 40px 75px;
	background-color: var(--email-blue);
	max-width: 863px;
	border-radius: 10px;
}
.newsletter__content {
	max-width: 709px;
	text-align: center;
}

.newsletter__inputs {
	display: flex;
	gap: 30px;
	// flex-wrap: wrap;
	justify-content: space-between;
}

.direction {
	display: flex;
	gap: 30px;
	max-width: 380px;
	span {
		padding-top: 5px;
	}
}

.contact {
	display: flex;
	flex-direction: column;
	gap: 15px 0;
	> * {
		display: flex;
		gap: 25px;
		align-items: center;
	}
}

.productive__links {
	display: block;
	margin-bottom: 15px;
}

.footer__navlinks {
	display: flex;
	gap: 0 80px;
}

.footer__navlinks1,
.footer__navlinks2 {
	display: inline-block;
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	// gap: 16px 0;
	// align-content: ;
}

footer {
	padding: 55px 80px 55px 120px;
}
