@use "../util/index" as *;

.container {
	&--header {
		background-color: var(--secondary-blue);
		padding: 25px 0 50px;

		@media screen and (min-width: 1280px + 50px) {
			padding: 75px 0;
		}
	}

	&--hero {
		background: var(--secondary-blue) url("https://raw.githubusercontent.com/Javieer57/FEM-fylo-dark-theme/main/images/bg-curvy-desktop.svg") center bottom/contain no-repeat;
		padding-bottom: 150px;
	}

	&--newsletter {
		background-image: linear-gradient(180deg, var(--main-blue) 0%, var(--main-blue) 48%, var(--footer-blue) 49%, var(--footer-blue) 100%);
	}

	&--footer {
		background-color: var(--footer-blue);
	}
}
