@use "../util/index" as *;

:root {
	--base-font: "Open Sans", sans-serif;
	--title-font: "Raleway", sans-serif;
}

.service__title {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: rem(20);
	line-height: 23px;
	// text-align: center;
	// * Mobil
	// font-size: 18px;
	// line-height: 24px;
}

// .body_text-14 {
// 	font-family: "Open Sans", sans-serif;
// 	font-weight: normal;
// 	font-size: rem(14);
// 	line-height: 21px;
// 	// text-align: center;
// 	// font-size: 16px;
// 	// line-height: 24px;
// 	// text-align: left;
// }

.text-1 {
	font-weight: normal;
	font-size: rem(14);
	line-height: 21px;
}

.testimonial {
	&__name {
		font-weight: bold;
		font-size: rem(10);
		line-height: 12px;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
	}
	&__job {
		font-weight: normal;
		font-size: rem(8);
		line-height: 10px;
		letter-spacing: 0.5px;
	}
}

.productive__links {
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	font-size: rem(16);
	line-height: 24px;
	/* links */
	text-decoration: none;
	color: var(--white);
}

.productive__links {
	&:active {
		font-weight: bold;
	}
}
.productive {
	&__title {
		font-family: var(--title-font);
		font-weight: bold;
		font-size: rem(18);
		line-height: 24px;
	}
	&__text {
		font-weight: normal;
		font-size: rem(14);
		line-height: 24px;
	}

	@include breakpoint(small) {
		&__title {
			font-size: rem(40);
			line-height: 50px;
		}
		&__text {
			font-size: rem(16);
		}
	}
}

.newsletter__title {
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	font-size: rem(32);
	line-height: 48px;
}

.newsletter__error {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: rem(10);
	text-align: left;
	margin-left: 38px;
	line-height: 14px;
	color: var(--light-red);
	/* pendiente */
	visibility: hidden;
}

.link {
	&--blue {
		text-decoration: none;
		font-size: rem(12);
		display: inline-block;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		color: var(--link-blue);

		&:hover {
			color: var(--white);

			// arrow icon
			[fill="#62E0D9"] {
				fill: var(--white);
			}
		}

		@include breakpoint(small) {
			font-size: rem(16);
			line-height: 22px;
		}
	}
}

.fab {
	cursor: pointer;
	font-size: rem(20);
	&:hover {
		color: var(--link-blue);
	}
}

.footer__social {
	display: inline-block;
	padding: 5px;
	border: 1px solid;
	border-radius: 50%;
	width: 32px;
	text-align: center;
	&:hover {
		color: var(--link-blue);
	}
}
