@use "../util/index" as *;

.btn--blue {
	-moz-user-select: none;
	-webkit-user-select: none;
	background-image: var(--btn-gradient);
	border-radius: 25px;
	border: 1px solid transparent;
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-family: var(--title-font);
	font-size: rem(14);
	font-weight: bold;
	line-height: 16px;
	padding: 15px 25px;
	text-align: center;
	user-select: none;

	&:active {
		background-color: var(--btn-active);
		background-image: none;
	}
}
