@use "../util/index" as *;

.header {
	background-color: var(--secondary-blue);
	padding: 25px 0 50px;

	@include breakpoint(header) {
		padding: 75px 0;
	}

	&__img {
		max-width: 180px;
		flex-basis: 80px;
		flex-grow: 1;
		min-width: 80px;
	}

	&__link {
		display: inline-block;

		&:hover {
			text-decoration: underline;
			font-weight: bold;
		}

		&:not(:last-child) {
			margin-right: 24px;
		}
	}

	@include breakpoint(medium) {
		&__link {
			&:not(:last-child) {
				margin-right: 58px;
			}
		}
	}
}
