@use "../util/index" as *;

.newsletter {
	background-color: var(--secondary-blue);
	padding: 40px 25px;
	max-width: 863px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		justify-content: space-between;
	}

	&__mail {
		padding: 15px 40px;
		font-family: "Open Sans", sans-serif;
		font-weight: normal;
		font-size: rem(12);
		line-height: 16px;
		border-radius: 25px;
		border: none;
		width: 100%;
	}

	// pending
	&__error {
		@include textTemplate(rem(10), 14px);
		font-weight: bold;
		text-align: left;
		margin-left: 38px;
		color: var(--light-red);
		visibility: hidden;
	}

	.btn--blue {
		width: 100%;
	}

	@include breakpoint(medium) {
		padding: 40px 75px;

		&__mail {
			flex-basis: 200px;
			max-width: 480px;
			flex-grow: 1;
		}

		.btn--blue {
			flex-basis: 200px;
			max-width: 200px;
			flex-grow: 1;
		}
	}
}
