@use "../util/index" as *;

.productive {
	margin-bottom: 120px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px 60px;

	@include containerResponsive(1235px);

	@include breakpoint(medium) {
		flex-direction: row;
	}
	&__img {
		flex-basis: auto;
		flex-grow: 1;
		max-width: 615px;
	}
	&__content {
		flex-basis: auto;
		flex-grow: 1;
		max-width: 565px;
	}

	&__link {
		@include textTemplate(rem(12));
		text-decoration: none;
		display: inline-block;
		border-bottom: 1px solid;
		padding-bottom: 5px;
		color: var(--link-blue);

		&:hover {
			color: var(--white);

			// arrow icon
			[fill="#62E0D9"] {
				fill: var(--white);
			}
		}
	}

	@include breakpoint(small) {
		&__img {
			flex-basis: 320px;
		}
		&__content {
			flex-basis: 320px;
		}
		&__link {
			@include textTemplate(rem(16));
		}
	}

	@include breakpoint(medium) {
		&__img {
			width: 50%;
			max-width: 615px;
			// margin-bottom: 50px;
		}
		&__content {
			width: 50%;
			max-width: 565px;
		}
	}
}
