@use "../util/index" as *;
.productive {
	&__img {
		flex-basis: auto;
		flex-grow: 1;
		max-width: 615px;
	}
	&__content {
		flex-basis: auto;
		flex-grow: 1;
		max-width: 565px;
	}

	@include breakpoint(small) {
		&__img {
			flex-basis: 320px;
		}
		&__content {
			flex-basis: 320px;
		}
	}

	@include breakpoint(medium) {
		&__img {
			width: 50%;
			max-width: 615px;
			// margin-bottom: 50px;
		}
		&__content {
			width: 50%;
			max-width: 565px;
		}
	}
}
