@use '../util/index' as *;

.testimonial {
	background-color: var(--card-blue);
	border-radius: 5px;
	padding: 40px 25px 25px;
	flex-grow: 1;
	flex-basis: 280px;
	max-width: 360px;
	position: relative;

	&__img {
		display: inline-block;
		width: 30px;
		margin-right: 10px;

		img {
			border-radius: 50%;
		}
	}

	&__info {
		display: inline-block;
	}
}

#first-testimonial {
	&::after {
		background-image: url("/images/bg-quotes.png");
		background-size: cover;
		content: "";
		display: inline-block;
		height: 35px;
		left: 8px;
		position: absolute;
		top: -30px;
		width: 45px;
		z-index: -1;

		@include breakpoint(medium) {
			height: 45px;
			left: -10px;
			top: -35px;
			width: 55px;
		}
	}
}
